{% extends 'base.html' %}

{% block content %}

<h1 class="center" style="color:#9e9e9e;">New Note</h1>
<form method="POST" class="post-form">{% csrf_token %}
	<h5 style="color: #f5f5f5">Title{{ form.title }}</h5>
	<h6 style="color: #f5f5f5;">Note<font color="red"> {{ form.content }}</font></h6><br>
	<button class="btn waves-effect waves-light grey darken-3" type="submit" name="action">Save<i class="material-icons left">save</i></button>
	<a href="/" class="btn waves-effect waves-light right grey darken-3" type="submit" name="action">cancel<i class="material-icons right">cancel</i></a>
</form>

{% endblock %}