{% extends 'base.html' %}

{% block content %}

<div class="post">
<blockquote class="red lighten-5"> <b>Note:</b> Creator/Author of the note can edit only his note.</blockquote>
    {% if post.published_date %}
    <div class="date">
        <p style="color:black">Updated on: {{ post.published_date }}</p>
    </div>
    {% endif %}
    <div class="col-md-8">
        <h2 style="color:#f5f5f5;">{{ post.title }} </h2>
        <div  class="card-panel white lighten-5">
            <p style="color:#6a1b9a;">{{ post.content|linebreaksbr }}</p>
        </div>
    </div>
</div>
{% if user.is_authenticated and user == post.author %}
<br>
<a class="waves-effect waves-light btn left grey darken-3 hoverable" href="{% url 'post_edit' pk=post.pk %}">Edit<i class="material-icons left">edit</i></a>
<a href="/" class="btn waves-effect waves-light right grey darken-3 hoverable" type="submit" name="action">Home<i class="material-icons right">home</i></a>
{% endif %}

{% endblock %}
